<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/bootstrap-4/bootstrap.css">
    <link rel="stylesheet" href="/lib/css/style.css" type="text/css">
</head>

<body ng-app="myApp">

    <navbar></navbar>
    <intro></intro>
    <orase></orase>
    <map></map>
    <food></food>
    <history></history>
    <traditii></traditii>
    <footsy></footsy>

    <script src="/lib/angular-1.6.1/angular.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap-js/bootstrap.js"></script>
    <script src="/lib/smooth-scroll/smooth-scroll.js"></script>
    <script src="/lib/js/script.js"></script>
    <script src="/lib/js/app.js"></script>
</body>

</html>
