<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/bootstrap-4/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/lib/css/style.css" type="text/css">
</head>

<body ng-controller="section" id="main">

    <navbar></navbar>
    <intro></intro>
    <orase></orase>
    <map></map>
    <food></food>
    <history></history>
    <traditii></traditii>
    <footsy></footsy>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/angular-1.6.1/angular.js"></script>
    <script src="/lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="/lib/ajax/popper.min.js"></script>
    <script src="/lib/bootstrap-js/bootstrap.js"></script>
    <script src="/lib/smooth-scroll/smooth-scroll.js"></script>
    <script src="/lib/js/script.js"></script>
    <script src="/lib/js/app.js"></script>
    <script src="/lib/js/directive.js"></script>
</body>

</html>
